global
    log 127.0.0.1 local0 notice
    maxconn 2000
    spread-checks 5

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    retries 3
    option redispatch
    timeout connect  5000
    timeout client  10000
    timeout server  10000

listen cobal
    bind 0.0.0.0:80
    mode http
    stats enable
    stats uri /haproxy?stats
    balance roundrobin
    option httpclose
    option forwardfor
    server cobalt1 cobalt1:80 check
    server cobalt2 cobalt2:80 check
    server cobalt3 cobalt3:80 check
